* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #292929;
}

.container {
    width: 100vw;
    max-width: 40rem;
    height: 100vh;
    max-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.container .img2 {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 150px;
    box-shadow: 2px 1px 3px rgb(31, 31, 31);

    transform: rotate(15deg);
}

.container .img1 {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 150px;
    box-shadow: 2px 1px 3px rgb(31, 31, 31);

    transform: rotate(-8deg);
}

h1 {
    position: absolute;
    top: 260px;
    font-size: 2.0rem;
    color: #c409a5;
    margin-bottom: .4rem;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
}
h2 {
    position: absolute;
    top: 300px;
    font-size: 1.4rem;
    color: #f5bded;
    margin-bottom: .4rem;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
}

h3 {
    position: absolute;
    top: 290px;
    font-size: 3.0rem;
    color: #c409a5;
    margin-bottom: .4rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
}

.bg {
    background-image: url(../img/maldivas3.png);
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 500px;
}

.core1 {
    position: absolute;
    width: 50px;
    top: -100px;
    right: 20px;

    animation: animation1 40s;
}

@keyframes animation1 {
    0% {transform: translateY(1500%) rotate(30deg); }
    100% {transform: translateY(0%) rotate(5deg); }
}

.core2 {
    position: absolute;
    width: 30px;
    top: -100px;
    left: 10px;

    animation: animation2 60s;
}

@keyframes animation2 {
    0% {transform: translateY(1600%) rotate(-15deg); }
    100% {transform: translateY(0%) rotate(10deg); }
}

.core5 {
    position: absolute;
    width: 40px;
    top: -10px;
    left: 110px;

    animation: animation3 50s;
}

@keyframes animation3 {
    0% {transform: translateY(1400%) rotate(-25deg); }
    100% {transform: translateY(0%) rotate(15deg); }
}

.core6 {
    position: absolute;
    width: 60px;
    top: -80px;
    left: 230px;

    animation: animation2 40s;
}

.core4 {
    position: absolute;
    width: 45px;
    top: -20px;
    left: 200px;

    animation: animation3 30s;
}

.core3 {
    position: absolute;
    width: 35px;
    top: -20px;
    left: 80px;

    animation: animation1 25s;
}

.container #end {
    width: 100%;
}